@use 'variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 2rem;
}

.leftText {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 30%;
  height: 65%; 
  font-weight: 700;
}

.rightText {
  position: absolute;
  top: 15%;
  right: 13%;
  width: 30%;
  height: 65%;
  font-weight: 700;
}

.image {
  object-fit: cover;
  width: 20%;
  align-self: center;
  pointer-events: none;
  margin-top: 1rem;
  border-radius: 2rem;
}

.button {
  @include button;
  border: none;
  margin-left: 1rem;
}

.buttonContainer {
  margin: 0 0 0 auto;
  width: max-content;
}

.pageText {
  font-size: 0.2rem;
  word-wrap: break-word;
}

.storyText {
  padding: 0;
}

.title {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
