@use 'variables.scss';

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
}

@mixin cogs {
  width: max-content;
  height: max-content;
  z-index: -1;
}

.cogsRight {
  @include cogs;
  transform: rotate(-90deg) translate(-10%, 60%);
  margin-right: 0;
  margin-left: auto;

  @media screen and (max-width: variables.$small-screen){
    display: none;
  }
}

.cogsLeft {
  @include cogs;
  transform: rotate(140deg) translate(20%, 50%);
  margin-left: 0;
  margin-right: auto;

  @media screen and (max-width: variables.$small-screen){
    margin-top: 40%;
    transform: translate(-50%) rotate(120deg);
  }
}

.logo {
  @include variables.logo;
  font-size: 5rem;
  text-align: center;
  margin: 0;
}

.subtitle {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  color: variables.$black;
}

.image {
  max-width: 300px;
  max-height: 300px;
  margin-top: 1rem;
  border-radius: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 2rem;
}

.textarea {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  resize: none;
  font: inherit;
  background-color: variables.$bg-color;
  border-radius: 0.75rem;
  border: 0.25rem solid variables.$border-color;
}

.form {
  width: 90%;
  max-width: 672px;
  margin-top: 1rem;

}

.dropdown {
  @include variables.button;
  font-size: 1.25rem;
  padding: 0.5rem;
  padding-right: 0;
  border: none;
  font-family: inherit;
  height: max-content;
  -webkit-appearance: caret;
}

.dropdownContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 0.25rem;
  gap: 2rem;

  @media only screen and (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: end;
  }
}

.dropdownLabel {
  margin: 0;
  color: variables.$black;

  @media screen and (max-width: variables.$small-screen) {
    text-align: right;
  }
}

.button {
  @include variables.button;
  border: none;
  font-size: 1.25rem;
  font-family: inherit;
  height: max-content;
  margin-top: auto;
  padding: 0.5rem;
  transition: 100ms;

  &:hover {
    background-color: variables.$border-color;
  }

  &:active {
    background-color: variables.$border-color; 
    animation: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    @include variables.button-press(in, 1, 0.9)
  }
}

.loading {
  width: 90%;
  max-width: 672px;
  position: relative;
}

.loadingText {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
}

.loadingVideo {
  width: 100%;
}
