@use 'variables.scss';

.logo {
  @include variables.logo;
  font-size: 5rem;
  text-align: center;
  margin: 1rem 0 0 0;
}

.subtitle {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  color: variables.$black;
}

.image {
  max-width: 300px;
  max-height: 300px;
  margin-top: 1rem;
  border-radius: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 2rem;
}

.textarea {
  width: 100%;
  resize: none;
  font: inherit;
  background-color: variables.$bg-color;
  border-radius: 0.75rem;
  border: 0.25rem solid variables.$border-color;
}

.form {
  width: 90%;
  max-width: 672px;
  margin-top: 1rem;

}

.dropdown {
  @include variables.button;
  font-size: 1.25rem;
  padding: 0.5rem;
  padding-right: 0;
  border: none;
  font-family: inherit;
  height: max-content;
}

.dropdownContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0.5rem;
  gap: 2rem;

  @media only screen and (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: end;
  }
}

.dropdownLabel {
  margin: 0;
  color: variables.$black;
}

.button {
  @include variables.button;
  border: none;
  font-size: 1.25rem;
  font-family: inherit;
  height: max-content;
  margin-top: auto;
  padding: 0.5rem;
  transition: 100ms;

  &:hover {
    background-color: variables.$border-color;
  }

  &:active {
    background-color: variables.$border-color; 
    animation: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    @include variables.button-press(in, 1, 0.9)
  }
}

.loading {
  width: 90%;
  max-width: 672px;
  position: relative;
}

.loadingText {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
}

.loadingVideo {
  width: 100%;
}
