@use 'variables.scss' as v;

.container {
  width: 90%;
  max-width: 672px;
  position: relative;
  justify-self: center;
}

.button {
  @include v.button;
  border: none;
  margin-left: 1rem;
}

.buttonContainer {
  margin: 0 0 0 auto;
  width: max-content;
}

.pageText {
  font-size: 0.2rem;
  word-wrap: break-word;
}

.storyText {
  padding: 0;
}

.bookWrapper {
  object-fit: cover;
  width: 110%;
  align-self: center;
  margin-left: -5%;
}

.bookContainer {
  display: flex;
  height: 25rem;
  margin: 2rem auto;
}
  
.page {
  flex: 1;
  background-color: #cec6b8;
  background-size: 100% 100%;

  font-weight: 500;
  // font-size: 1.5rem;
  box-shadow: #00000044 0px 10px 20px;
  // border: 3px #000 solid;

}

.left {
  transform-origin: right;
  border-right: solid #833840;
  padding: 20px 20px 20px 40px;
  animation: openPage 2.4s linear forwards;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 2;
  background-image: url('/images/paper-edge-left.png');

  @media screen and (max-width: v.$small-screen) {
    padding: 10px 10px 10px 20px;
  }
}

.right {
  transform-origin: left;
  padding: 20px 40px 20px 20px;
  border-left: solid #833840;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url('/images/paper-edge-right.png');

  transform: matrix3d(
    1, -0.02, 0, 0,
    0, 1, 0, 0,
    0, 0, 1, 0,
    0, 0, 0, 1  
  );

  @media screen and (max-width: v.$small-screen) {
    padding: 10px 20px 10px 10px;
  }
}

@keyframes openPage {
  0% {
    transform: rotateY(180deg) matrix3d(
      1, 0.02, 0, 0,
      0, 1, 0, 0,
      0, 0, 1, 0,
      0, 0, 0, 1  
    );
    box-shadow: #00000088 -10px 10px 10px;
    background-color: #833840;
    background-image: none;
    color: #00000000;
  }

  20% {
    transform: rotateY(180deg) matrix3d(
      1, 0.02, 0, 0,
      0, 1, 0, 0,
      0, 0, 1, 0,
      0, 0, 0, 1  
    );
    box-shadow: #00000088 -10px 10px 10px;
    background-color: #833840;
    background-image: none;
    color: #00000000;
  }

  59% {
    color: #00000000;
    background-color: #833840;
    box-shadow: #00000088 -10px 10px 10px;
    background-image: none;
  }

  60% {
    transform: rotateY(90deg) matrix3d(
      1, 0.075, 0, 0,
      0, 1, 0, 0,
      0, 0, 1, 0,
      0, 0, 0, 1  
    );
    background-color: #cec6b8;
    background-image: url('/images/paper-edge-left.png');
    color: v.$black;
    box-shadow: none;
  }

  100% {
    transform: rotateY(0deg) matrix3d(
      1, 0.02, 0, 0,
      0, 1, 0, 0,
      0, 0, 1, 0,
      0, 0, 0, 1  
    );
  }
}
