@use 'variables.scss';

.background {
  position: absolute;
  background-color: variables.$black;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  bottom: 0;
  display: flex;
  color: variables.$border-color;
  font-weight: 700;
  gap: 2rem;

  @media screen and (max-width: variables.$medium-screen) {
    flex-direction: column-reverse;
  }
}

.links {
  display: inline-flex;
  flex-direction: column;
  font-weight: 700;

  & > a {
    color: variables.$border-color;
    text-decoration: none;
  }
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: variables.$bg-color;
}

.aboutUs {
  display: inline-flex;
  flex-direction: column;
  font-weight: 700;
  margin-right: 2rem;

  & > h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: variables.$bg-color;
  }

  & > p {
    color: variables.$border-color;
    margin: 0;
  }
}

.padding {
  height: variables.$footer-height;
}

.logo {
  @include variables.logo;
  font-size: 4rem;
  text-align: center;
  height: min-content;
  align-self: center;
  justify-self: center;

  @media screen and (max-width: variables.$medium-screen) {
    display: none;
  }
}

.rightSide {
  margin: 2rem 0 1rem auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  @media (max-width: variables.$medium-screen) {
    width: 90%;
    margin: 0 auto;
  }
}

.leftSide {
  width: 51%;
  display: flex;
  // flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left: 1rem;
  @media (max-width: variables.$medium-screen) {
    width: 90%;
    margin: 0 auto;
  }
}

.leftSideText {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 2rem;
}

.newsletterSignup {
  height: 382px;
  max-width: 354px;
  margin: 0;
  padding: 0;
  border: none;
  flex: 2;
}