@use 'variables.scss';

.main {
  min-height: 100vh;
  margin-bottom: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.logo {
  @include variables.logo;
  font-size: 7rem;
  margin: 0;
  color: white;

  @media screen and (max-width: variables.$small-screen) {
    font-size: 5rem;
  }
}

.topBlob {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 45rem;
  aspect-ratio: 1165 / 896; // aspect of svg
  z-index: -1;
  pointer-events: none;
  
  @media screen and (min-width: variables.$large-screen) {
    height: 50rem;
  }
}

.firstSection {
  height: 35rem;
  aspect-ratio: 1165 / 896; // aspect of svg
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 2rem;
  margin-top: 5%;
  overflow: hidden;
  gap: 0.5rem;

  @media screen and (min-width: variables.$large-screen) {
    height: 40rem;
    max-width: 70vw;
  }
}
 
.subtitle {
  width: 75%;
  color: white;
  font-size: 1.75rem;
  margin: 0;
  font-weight: 700;
}

.button {
  @include variables.button;
}

.container {
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  position: relative;
}

.bookStackImage {
  max-width: 70%;
  margin-top: 3rem;
  z-index: -1;

  // @media screen and (min-width: variables.$medium-screen) {
  //   position: absolute;
  //   top: 6rem;
  //   right: 2rem;
  //   width: 50%;
  // }

  @media screen and (min-width: variables.$large-screen) {
    position: absolute;
    top: 6rem;
    right: 2rem;
    width: 45%;
  }
}

.multilingualHeader {
  display: flex;
  color: black;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 1.5rem;
  @media screen and (min-width: variables.$large-screen) {
    display: none;
  }
}

.bookstackContainer {
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library {
  display: flex;
  position: relative;
  padding-top: 0;
  height: 55rem;
  
  @media screen and (max-width: variables.$medium-screen) {
    height: 70rem;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: variables.$large-screen) {
    height: 65rem;
  }
}

.libraryBlob {
  padding: 0;
  margin: 0;
  right: 100%;
  position: absolute;
  height: 55rem;
  aspect-ratio: 1039 / 1188; // aspect of svg
  z-index: -1;
  pointer-events: none;
  top: 0;
  
  @media screen and (max-width: variables.$medium-screen) {
    top: -30rem;
    height: 55rem;
  }
  
  @media screen and (min-width: variables.$large-screen) {
    height: 65rem;
  }
}

.libraryBlobContainer {
  position: relative;
  top: 0;
  width: 0;
  height: 0;
  margin-left: auto;
}

.libraryTextContainer {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: visible;

  position: absolute;
  right: 0;
  top: 20%;

  width: min-content;
  height: max-content;
  
  aspect-ratio: 1165 / 896; // aspect of svg 
  
  padding-top: 0;

  @media screen and (max-width: variables.$small-screen) {
    padding-right: 0.5rem;
    top: 25%
  }

  @media screen and (min-width: variables.$small-screen) {
    max-width: 90vw;
    padding-right: 2rem;
    top: 13%;
  }
    
  @media (min-width: variables.$large-screen) {
    top: 20%;
    padding-right: 10rem;
  }
}


.libraryImage {
  aspect-ratio: 16 / 9;
  margin-top: 3rem;
  object-fit: contain;
  max-width: 80%;
  align-self: center;

  @media screen and (max-width: variables.$medium-screen) {
    margin-top: 15rem;
  }

  @media screen and (min-width: variables.$medium-screen) {
    top: 8rem;
    left: 2rem;
    width: 55%;
  }

  @media screen and (min-width: variables.$large-screen) {
    width: 60%;
  }
}