@use 'variables.scss' as variables;

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: variables.$nav-height;
  background: #F1F5F930;
  background: linear-gradient(to left, #22C55E6d 0%, #22BBC56d 100%);
  backdrop-filter: blur(5px);
  
  border-bottom: 2px variables.$border-color solid;

  display: flex;
  z-index: 9999;
  position: fixed;
}

// .navbar::before {
//   content: "";
//   position: absolute;
//   background: inherit;
//   z-index: -1;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
//   filter: blur(10px);
//   margin: -20px;
// }

.padding {
  height: variables.$nav-height;
}

.logo {
  @include variables.logo;
  text-decoration: none;

  
  @media screen and (max-width: variables.$small-screen) {
    font-size: 2.5rem;
    margin: auto 0 auto 1rem;
  }

  @media screen and (max-width: 360px) {
    font-size: 2rem;
    margin: auto 0 auto 1rem;
  }

  @media screen and (max-width: 310px) {
    font-size: 1.75rem;
    margin: auto 0 auto 1rem;
  }

  @media screen and (max-width: 275px) {
    font-size: 1.5rem;
    margin: auto 0 auto 1rem;
  }

  @media screen and (min-width: variables.$small-screen) {
    font-size: 3rem;
    margin: auto 2rem;
  }
}

.rightSide {
  display: flex;
  margin: auto 2rem auto auto;
  gap: 1rem;

  @media (max-width: variables.$small-screen) {
    margin-top: 0.25rem;
  }
}

.navText {
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  color: variables.$black;

  &:visited {
    color: variables.$white;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: variables.$accent-green;
  }

  @media screen and (max-width: variables.$small-screen) {
    display: none;
  }
}

.navButton {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: variables.$white;

  @media screen and (max-width: variables.$small-screen) {
    display: block;
    font-size: 2rem;
    font-family: monospace;
    margin: auto;
    text-align: center;
  }

  @media screen and (min-width: variables.$small-screen) {
    display: none;
  }
}

.modal {
  background-color: variables.$bg-light;
  border-radius: variables.$border-radius;
  z-index: 999;
  // Timing function is elastic
  animation: modal-pop-in 0.25s cubic-bezier(0, 0.3, 0.32, 1.2) forwards;
  
  display: flex;
  flex-direction: column;
  
  // padding: 1rem 0;
  width: 60vw;

  & > .modalLink:last-child {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-left-radius: variables.$border-radius;
    border-bottom-right-radius: variables.$border-radius;
    padding-bottom: 0.5rem;
  }
}

@keyframes modal-pop-in {
  0% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.modalLink {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: black;
  padding: 1rem 2rem 0 1rem;

  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  // transition: 250ms cubic-bezier(0.77, 0, 0.175, 1);

  // &:active {
  //   background-color: variables.$accent-green;
  // }
  
  &:hover {
    background: -webkit-linear-gradient(left,#22C55E, #22BBC5);
    color: variables.$bg-light;
  }
}

.modalTitle {
  @include variables.logo;
  width: max-content;
  
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0 0 1rem;
}
