$nav-height: 60px;
$bg-color: #F1F5F9;
$accent-green: #22C55E;

@mixin logo {
  font-weight: 900;
  background: -webkit-linear-gradient(left,#22C55E, #22BBC5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-flex;
}

@mixin button {
  background-color: $accent-green;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  text-decoration: none;
  width: max-content;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
  border-radius: 0.75rem;
}